a {
  text-decoration: none;
}
.section {
  padding-top: 70px;
  padding-bottom: 70px;
}

.section h2.section-head {
  color: #000;
  text-align: center;
  margin-bottom: 40px;
}

::selection {
  color: red;
  background: rgb(6, 248, 196);
}

.section h2.section-head:after {
  background-color: #47a0ff;
  content: "";
  display: block;
  width: 100px;
  height: 3px;
  margin: 20px auto;
}

#header {
  background-color: #47a0ff;
  color: #fff;
}

#menu {
  list-style: none;
  padding: 0;
  margin: 0;
}

#menu li {
  display: inline-block;
}
#menu li a {
  display: block;
  color: #fff;
  padding: 15px 10px;
}

#menu li a:hover {
  background-color: #3096f0;
}
#logo {
  font-size: 2rem;
  margin-top: 5px;
}

#banner {
  background: url("../img/three.jpg") no-repeat 0 0;
  background-size: cover;
}

.banner-title {
  padding-top: 5rem;
}

.banner-title h1 {
  background: rgba(255, 255, 255, 0.8);
  display: inline-block;
  padding: 10px;
  margin: 0;
}

.banner-title p.lead {
  color: #fff;
  background: rgba(71, 160, 255, 0.7);
  padding: 10px;
}

.service-box {
  text-align: center;
}
.service-box i.fas,
.fab {
  color: #47a0ff;
  font-size: 70px;
  margin-bottom: 15px;
}

#testimonials {
  color: #fff;
  background: url("../img/eight.jpg") no-repeat 0 0;
  background-size: cover;
  padding: 50px 0;
  position: relative;
}
.testimonials img {
  border-radius: 50%;
}

.news-post img {
  width: 90%;
  margin-bottom: 10px;
}

.news-post h3 {
  font-size: 1.35rem;
}
.news-post h3 a {
  color: #47a0ff;
}

.post-date {
  font-size: 13px;
  margin-bottom: 2px;
}
.post-date::before {
  content: "\f073";
  font-family: "Font Awesome 5 Free";
  padding-right: 5px;
}

a.readmore {
  font-size: 14px;
  color: #47a0ff;
}

#footer-sidebar {
  color: #fff;
  background: #34495e;
  padding: 20px 0;
}

.footer-widget h4:after {
  content: "";
  background: #fff;
  display: block;
  width: 50px;
  height: 2px;
  margin: 5px 0;
}
.footer-widget a {
  color: #fff;
}

.latest-news {
  list-style: none;
  padding: 0;
  margin: 0;
}

.latest-news {
  margin-bottom: 3px;
}
#footer {
  background: #2c3e50;
  color: #fff;
  padding-top: 20px;
}

#social-icons {
  list-style: none;
  color: #fff;
  margin: 0;
  padding: 0;
}

#social-icons li {
  display: inline-block;
  padding-left: 5px;
}
#social-icons li a {
  color: #fff;
  font-size: 20px;
}
.col-md-6 {
  padding: 0;
}



@media (max-width: 992px) {
.news-post{
margin-bottom: 30px;
}
}




@media (max-width: 768px) {
  #logo {
    text-align: center;
    margin: 10px 0;
  }
  #menu {
    text-align: center;
  }
  .banner-title {
    padding-top: 0;
  }
  .banner-title h1 {
    font-size: 1.7rem;
  }
  .section {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .testimonials {
    text-align: center;
    margin-bottom: 30px;
  }
  .service-box {
    margin-bottom: 30px;
  }
  .footer-widget {
    margin-bottom: 20px;
  }
  #footer {
    text-align: center;
  }
  #social-icons {
    margin-top: 10px;
  }
}
